service-apps/mule-ee-JMS-scoring-service/src/main/app/JMS-scoring-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-current.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <jms:activemq-connector name="Active_MQ" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ"/>
    
    <flow name="JMS-scoring-service-flow" doc:name="JMS-scoring-service-flow">
        <jms:inbound-endpoint exchange-pattern="request-response" queue="${app.scoring.queue}" doc:name="JMS" connector-ref="Active_MQ"/>
        <logger message="Performing JMS scoring for #[message.payload]" level="INFO" category="de.codecentric.integration.services.scoring" doc:name="Logger"/>
        <component class="de.codecentric.integration.component.ScoringComponent" doc:name="Java"/>
    </flow>
</mule>
